@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;800&display=swap');

* {
    font-family: Shippori Mincho;
    color: rgb(174, 133, 255);
    background-color: lavender;
    margin: 0;
    padding: 0;
}
body { 
    border: mediumpurple groove 20px;
    margin: 0;
    padding: 40px;
    position: relative;
}
#my_pic {
    width: 20%;
    /* height: auto; */
    margin-bottom: 10px;
    border-radius: 50%;
}
.links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid mediumslateblue;
    margin: 0px 5px;
}
#nyantocat, #failcat {
    width: 225px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
}
#topcat {
    position: fixed;
    text-align: center;
    top: 70px;
    right: 5%;
}
#bottomcat {
    position: absolute;
    text-align: center;
    bottom: 40px;
    right: 5%;
}
/*   We can select multiple tags and classes to format at a time (ex. h1, h2, h3, etc.) but can we not select multiple ids (ex. #github, #email) to format at the same time?   */

.links {
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.links a {
    cursor: pointer;
}

#git, #my_email {
    display: flex;
    align-items: center;
}

/*   Is there a way to fill background of a saved image through CSS?  */

h1 {
    color: mediumpurple;
    font-weight: 800;
    font-size: 75px;
    margin-bottom: 15px;
}
h3 {
    color: mediumslateblue;
    margin: 30px 0px 5px;
}
table {
    width: 400px;
    margin-bottom: 10px;
}
th {
    text-align: left;
}
ul {
    margin-left: 40px;
    list-style-type: square;
}
#message_send{
    padding: 5px 10px;
    background-color: mediumslateblue;
    color: lavender;
    border: 5px solid mediumslateblue;
    margin-top: 10px;
    box-shadow: 3px 3px 3px rgb(162, 150, 231);
    cursor: pointer;
}
#lyrics1, #lyrics2 {
    color: mediumslateblue;
    font-weight: bolder;
}

#lyrics2 {
    display: none;
    color: darkorange;
}